<form [formGroup]="filterForm" class="v-filter-container">
  <div class="v-filter-header">
    <mat-form-field appearance="outline" class="v-search-field">
      <mat-label>Pesquisar...</mat-label>
      <input matInput type="text" formControlName="search">
    </mat-form-field>
    <button mat-button class="v-clear-btn" type="button" (click)="clearFilters()">Limpar</button>
  </div>

  <div class="v-filter-section">
    <h4>Faixa de Preço</h4>
    <div class="v-price-inputs">
      <mat-form-field appearance="outline" class="v-small-input">
        <mat-label>Mín</mat-label>
        <input matInput type="number" placeholder="20000" formControlName="minPrice">
      </mat-form-field>
      <span class="v-dash">-</span>
      <mat-form-field appearance="outline" class="v-small-input">
        <mat-label>Máx</mat-label>
        <input matInput type="number" placeholder="60000" formControlName="maxPrice">
      </mat-form-field>
    </div>
  </div>

  <div class="v-filter-section" formGroupName="brands">
    <h4>Marcas</h4>
    <div class="v-checkbox-list">
      @for (item of brands; track $index) {
        <mat-checkbox [formControlName]="item">
          {{ item }}
        </mat-checkbox>
      }
    </div>
  </div>

  <div class="v-filter-section" formGroupName="conditions">
    <h4>Condição</h4>
    <div class="v-checkbox-list">
      @for (item of conditions; track $index) {
        <mat-checkbox [formControlName]="item">
          {{ item }}
        </mat-checkbox>
      }
    </div>
  </div>
</form>
